<% layout("/layouts/boilerplate.ejs") -%>

<div class="row">
  <div class="col-8 offset-3 mt-3">
    <h2>Listing Details</h2>
  </div>
  <div class="show-card card col-6 offset-3">
    <img
      src="<%= listing.image %>"
      class="card-img-top show-img obj-top"
      style="object-fit: cover; object-position: top; width: 100%; height: 320px;"
      alt="Listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <b><%= listing.title %></b><br /><br />
        <%= listing.description %> <br /><br />
        &#8377; <%= listing.price.toLocaleString("en-IN") %> <br /><br />
        <%= listing.location %> <br /><br />
        
      </p>
    </div>
  </div>
</div>
<div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
  
    <form action="/listings/<%= listing._id %>?_method=DELETE " method="post">
      <button class="btn btn-dark offset-4 show-dlt-btn">Delete </button>
    </form>

</div>
